.Carousel-parent {
    width: 400px;
    height: 550px;
}

.UploadedPhotosParent {
    width: 98%;
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

.picturesList {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 80px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 10px;
    padding: 0px;
    /* margin-right: 20px; */
}


.uploadedPhotoDisplayImg {
    width: 80px;
    margin: 0px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

.hoverButtonPhoto {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--off-black);
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 300;
    cursor: pointer;
}


@media (max-width: 1400px) {
    .userInputsFormDiv {
        flex-direction: column;
        width: 100%;
    }

}


@media (max-width: 900px) {
    .navbar {
        height: 40px !important;
    }

    .text-forms div {
        margin-right: 0px;
        margin-bottom: 00px;
    }


    .uploadPhotosHeaders {
        font-size: 16px;
    }


    .UploadedPhotosParent {
        width: 90vw;
        align-items: center;
    }

    .displayPhotosGrids {
        width: 90%;
    }


}